{% comment %}
Dawn 11.0
{% endcomment %}
{% comment %}

  replace base-section in html and styles with your section name eg vertical-tabs

  Add All styles <style></style> in your named stylesheet

  replace base_section in schema with your section name eg vertical_tabs

  in blocks and presets replace column with your desired block name eg tab

  In en.default.schema.json at end translations are added so you can copy and rename to your section name.

  Replace disabled_on with 
  
  "disabled_on": {
    "groups": ["header", "footer"]
  },  
{% endcomment %}
{{ 'section-base-section.css' | asset_url | stylesheet_tag }}
<style> 
   .base-section .title {
  margin: 0;
}

.base-section.no-heading .title {
  display: none;
}

.base-section .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .base-section .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  /* .base-section .page-width {
    padding-left: 0;
    padding-right: 0;
  } */
}
</style>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="base-section color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
  {%- unless section.settings.title == blank -%}
    <div class="title-wrapper-align-{{ section.settings.text_alignment }} title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.title }}
      </h2>
      {% if section.settings.subtitle != blank %}
        {{ section.settings.subtitle }}
      {% endif %}
    </div>
  {%- endunless -%}

  </div>
</div>

{% schema %}
{
  "name": "t:sections.base_section.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["*"],
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Heading",
      "label": "t:sections.base_section.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "label": "subtitle",
      "id": "subtitle",
      "default": "<p>Give customers details about the section.</p>"
    },
    {
      "type": "select",
      "label": "Text Alignment",
      "id": "text_alignment",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.base_section.blocks.column.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Column",
          "label": "t:sections.base_section.blocks.column.settings.title.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.base_section.blocks.column.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.base_section.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.base_section.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.base_section.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.base_section.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}