{{ 'section-product-offers.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="product-offers color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-align-{{ section.settings.text_alignment }} title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        {% if section.settings.subtitle != blank %}
          {{ section.settings.subtitle }}
        {% endif %}
      </div>
    {%- endunless -%}
    <product-offers class="product-offers__products">
      <div class="product-offers__products-list grid grid--1-col-tablet-down
      grid--3-col-desktop">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'product_offer' %}
              {% assign offer_product = block.settings.product %}
              {% assign current_variant = offer_product.selected_or_first_available_variant %}
              <offer-product id="offer-product-{{ offer_product.id }}" class="offer-product grid__item">
                <div class="offer-product__label" {% if block.settings.offer_label_color != empty %}style="--offer-label-color: {{ block.settings.offer_label_color }}"{% endif %}> {{ block.settings.title }}</div>
                <div class="product-offers__featured-image">
                  <div class="offer-product__title">{{ offer_product.title }}</div>
                  <img src="{{ offer_product.featured_image |  image_url: width: 200 }}" loading="lazy" width="150" height="auto" alt="{{ offer_product.featured_image.alt }}">
                </div>
                <div class="offer-product__price">
                  {% if offer_product.metafields.dev.subtitle != blank %}
                    <div class="offer-product__subtitle"> {{ offer_product.metafields.dev.subtitle }}</div>
                  {% endif %}
                  <span class="compare-price"> {{ offer_product.compare_at_price | money }}</span>
                  <span class="current-price"> {{ offer_product.price | money }}</span>
                  {% if offer_product.metafields.dev.subtitle != blank %}
                    {% assign price_saved = offer_product.compare_at_price | minus: offer_product.price %}
                    <span class="price-saved"> {{ price_saved | money }}</span>
                  {% endif %}
                </div>
                <div class="button offer-product__button">{{ block.settings.link_label }}</div>
                <div html hidden>
                    <div class="variant-images">
                      {% for variant in offer_product.variants %}
                      <img data-media-id="{{ variant.featured_media.id }}" {% unless  current_variant.id == variant.id %} hidden {% endunless %}  id="Slide-{{ section.id }}-{{ variant.featured_media.id }}" src="{{ variant.featured_media | image_url: width: 600 }}" loading="lazy" width="600" height="auto" alt="{{ offer_product.featured_media.alt }}">
                    {% endfor %}
                    </div>
                    <div class="variants-list">
                      {% for variant in offer_product.variants %}
                        {%-liquid  
                          assign pressed = false
                            if current_variant.id == variant.id
                              assign pressed = true
                            endif
                        %}
                        <div class="variant-option {{ variant.title | downcase }}" data-value="{{ variant.id }}"  role="button" aria-pressed="{{ pressed }}" >
                          <span class="variant-option__title">{{ variant.title }}</span>
                          <span class="variant-option__swatch">
                            {% render 'icon-checked' %}
                          </span>
                        </div>
                      {% endfor %}
                    </div>
                    <script id="product_json" type="application/json">
                        {{ offer_product.variants | json }}
                    </script>
                </div>
              </offer-product>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="product-offers__selection" selection-wrap></div>

    </product-offers>
  </div>
</div>


<offer-product-total class="fixed-bar-bottom" hidden>
  <span class="total-price">Total: <span class="price-value">$81.00</span></span>
  <button
      type="button"
      id="CartDrawer-Checkout"
      class="cart__checkout-button button"
      name="checkout"
      form="CartDrawer-Form"
    >
      {{ 'sections.cart.checkout' | t }}
    </button>
</offer-product-total>

{% schema %}
{
  "name": "t:sections.product_offers.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Heading",
      "label": "t:sections.product_offers.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "label": "subtitle",
      "id": "subtitle",
      "default": "<p>Give customers details about the custom offers.</p>"
    },
    {
      "type": "select",
      "label": "Text Alignment",
      "id": "text_alignment",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product_offer",
      "name": "t:sections.product_offers.blocks.product_offer.name",
      "settings": [
        {
          "type": "product",
          "label": "t:sections.product_offers.blocks.product_offer.settings.product.label",
          "id": "product"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.product_offers.blocks.product_offer.settings.title.label"
        },
        {
          "type": "color",
          "label": "Offer Label Color",
          "id": "offer_label_color",
          "default": "#4a4a4a"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.product_offers.blocks.product_offer.settings.link_label.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_offers.presets.name",
      "blocks": [
        {
          "type": "product_offer"
        },
        {
          "type": "product_offer"
        },
        {
          "type": "product_offer"
        }
      ]
    }
  ]
}
{% endschema %}