{% comment %}
Dawn 11.0
{% endcomment %}
{% comment %}

  replace multicolumn_icons in schema with your section name eg vertical_tabs

  in blocks and presets replace column with your desired block name eg tab

  In en.default.schema.json at end translations are added so you can copy and rename to your section name.

  Replace disabled_on with 
  
  "disabled_on": {
    "groups": ["header", "footer"]
  },  
{% endcomment %}
{{ 'section-multicolumn-icons.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="multicolumn-icons color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper--align-{{ section.settings.text_alignment }} title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        {% if section.settings.subtitle != blank %}
          <div class="subtitle">{{ section.settings.subtitle }}</div> 
        {% endif %}
      </div>
    {%- endunless -%}



    <div class="center">
      {%- if section.settings.button_label != blank -%}
        <a
          class="button button--primary"
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
        >
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn_icons.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["*"],
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.multicolumn_icons.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "label": "subtitle",
      "id": "subtitle"
    },
    {
      "type": "select",
      "label": "Text Alignment",
      "id": "text_alignment",
      "default": "left",
      "options": [
        {
          "label": "t:sections.multicolumn_icons.settings.text_alignment.options__1.label",
          "value": "left"
        },
        {
          "label": "t:sections.multicolumn_icons.settings.text_alignment.options__2.label",
          "value": "center"
        },
        {
          "label": "t:sections.multicolumn_icons.settings.text_alignment.options__3.label",
          "value": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.multicolumn_icons.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn_icons.settings.button_link.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "t:sections.multicolumn_icons.blocks.icon.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn_icons.blocks.icon.settings.image.label"
        },
        {
          "type": "range",
          "label": "t:sections.multicolumn_icons.blocks.icon.settings.icon_width.label",
          "id": "icon_width",
          "default": 48,
          "min": 30,
          "max": 90,
          "step": 3,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn_icons.presets.name",
      "blocks": [
        {
          "type": "icon"
        },
        {
          "type": "icon"
        },
        {
          "type": "icon"
        },
        {
          "type": "icon"
        },
        {
          "type": "icon"
        },
        {
          "type": "icon"
        }
      ]
    }
  ]
}
{% endschema %}